.LessonImage  {

/* width:200px;
height:200px; */
margin-top:10px;
margin-bottom:120px;
margin-left:20px;
text-align: center;
display:block;
border:#b8b8b8;
border-style: solid;
border-radius: 10px;
border-width: 1px;
padding:10px;

}
#header
{

    display: flex;
    justify-content: flex-end;
}
#rankings
{
    display: flex;
    background-color: #CE626D;
    color:white;
    width:fit-content;
    height:25px;
    border-radius: 3px;;
    padding: 2px;
}
#lesson_title{
    font-size:large;
    margin-bottom: 3px;;
}
#date{
    color:#979797;
}
#time{
    color:#979797;
}
#contact{
    color:#979797;
}