.image_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ce626d93;
    border-radius: 5px;
    padding:5px;
    width:50%;
}
.image_container img{
    margin:10px 20px;
    border-radius: 5px;
    width:90%;
}
.firstAidTitle{
    color:black;
    align-items: center;
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 40px;
    margin:30px 0;

}
.firstAidTitle span{
    color:#BF161D;
}
.firstAidWrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 20px;
    margin-bottom: 100px;
}