.securityWrapper{
    margin:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Sans Pro";
}
.securityIcon{
    color:#BF161D;
    margin: 40px 0;

    /*color:#7E1418*/
    

}
.securityTitle{
    font-family: "Source Sans Pro";
    color:#5c0b0e;
    width:40%;
    text-align: center;
    font-size: 50px;


}
.securityTitle span{
    color:black;
}
.securityText{
    font-family: "Source Sans Pro";
    color:black;
    width:40%;
    text-align: center;
    font-size: larger;
    margin: 50px 0;
}