.control{
    background-color: #CE626D;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:30px;
    margin:5px;
    border:none;
    width:270px;
    height:270px;

}
.control p{
    
    font-family: "Source Sans Pro";
    font-size: larger;
}
.controlls{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0 150px;
    margin-bottom: 50px;
}
.center_row{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
}
.center_row_descr{
    display:flex;
    width:33%;
    flex-direction: row;
    justify-content: center;
}
.textDescript{
        
    font-family: "Source Sans Pro";
    font-size: x-large;
    color:black;
    text-align: left;
    margin-left: 205px;
    margin-bottom: 20px;;
}
.description{
    background-color: #7E1418;
    padding:20px 60px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.descriptionWrapper{
    margin:0 150px;
    margin-bottom: 50px;;
}
.center_column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.iconDiv{
    background-color: #F6F6F6;
    padding:30px 17px;
    border-radius: 5px;
    height: 40px;
    margin-top: 10px;
}
.center_column h3{
    color:white;
    font-family: "Source Sans Pro";
    text-align: left;


}
.center_column p{
    color: white;
    font-family: "Source Sans Pro";
    text-align: left;
    font-weight: 100;

}
.descriptionContainer{
    width:33%;
}
.frontWrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:30px 150px;
    font-family: "Source Sans Pro";
    margin-top: 60px;
    position:relative;
}
h1{
    font-family: "Source Sans Pro";
    font-weight: bolder;
    text-align: left;
}
.frontColumn{
    width:33%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.descrText{
    color:#787878;
    text-align: left;
    margin-top: 20px;;
}
.reportButton{
    background-color: #BF161D;
    border-radius: 5px;
    border:none;
    margin: 40px 0;
    color:white;
    font-family: "Source Sans Pro";
    padding: 30px 0;
    width:80%;

}
.quote{
    text-align: end;
    color:#787878;
    position: absolute;
    bottom:0;
    margin-left: 50px;
}
