h1 {
    font-family: "Source Sans Pro";
    font-weight: bolder;
    text-align: center;
}

h3 {
    font-family: "Source Sans Pro";
    font-weight: bolder;
    text-align: center;
    color: grey;
}

.reportAccidentButton {
    
    background-color: #BF161D;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    color: white;
    font-family: "Source Sans Pro";
    padding: 10px;
    margin-top: 35px;;

}

.detailsActions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.detailsActions p {
    margin-top: 7px;
    margin-right: 5px;
}

.detailsActions1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    border: 1px solid #CE626D;
    background-color: #f9f6f6;
    border-radius: 4px;
}
.locationText{
    color:black;
    font-family: "Source Sans Pro";
    font-weight: bold;
    margin-left: 15px;;

}
.locationBut{
    background-color: #BF161D;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    color: white;
    font-family: "Source Sans Pro";
    padding:  5px;

    height: 5%;
}
.reportAccColumn{
    display:flex;
    flex-direction: column;
    align-items: left;
    width:30%;

}
.reportAccRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.reportAccLabel{
    width:100%;
    margin:10px;
    align-items: left;
    align-content: left;
    height:60px;
}
.reportAccLabel1{
    width:100%;
    margin:10px;
    align-items: left;
    align-content: left;
    height:160px;
}
.reportAccInput{
    height:100px;
}
.reportBad{
    background-color: #ffcdd2;
}