h1 {
    font-family: "Source Sans Pro";
    font-weight: bolder;
    text-align: center;
}

h3 {
    font-family: "Source Sans Pro";
    font-weight: bolder;
    text-align: center;
    color: grey;
}

.accept {
    background-color: #BF161D;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    color: white;
    font-family: "Source Sans Pro";
    padding: 15px 0;
    width: 30%;
    height: 5%;
    margin: 5px 100px;
    margin-top: 30px;

}

.decline {
    background-color: #BF161D;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    color: white;
    font-family: "Source Sans Pro";
    padding: 15px 0;
    width: 30%;
    height: 5%;
    
    margin: 5px 50px;
    margin-top: 30px;
}

.detailsActions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.detailsActions p {
    margin-top: 7px;
    margin-right: 5px;
}

.detailsActions1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    border: 1px solid #CE626D;
    background-color: #f9f6f6;
    border-radius: 4px;
}
.acceptedRow{
    display:flex;
    flex-direction: row;
    align-items: left;
}
.arrived {
    background-color: #CE626D;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: "Source Sans Pro"; 
    margin: 0 10px;
    padding:10px;
    margin-top: 30px;
}