.MockUpApplicationVerification {
    width:100vw;
    height:100vh
}
    #main{

        margin:20px;
        margin-bottom: 100px;
        display:flex;
       justify-content: center;
      
    }
    @media (orientation: portrait){
    .AddTutorials
    {
        height:100vh;
        width: 100vw;
    }
    }
    
    #left
    {
        margin-left:100px;
      
       width:30%
    }
    #right2
    {
        width:70%
    }
    
    input
    {
        border:2px solid #CE626D;
    }
 
  
    #buttons_div2
    {
        display:flex;
        justify-content:center
    }

    .button{

        margin-left:50px;
        margin-right:50px;
        width:200px
    }